# pandas
- 부동 소수점이 아닌 데이터 뿐만 아니라 부동 소수점 데이터에서도 결측 데이터(NnN으로 표시 됨)를 쉽게 처리
- 크기 변이성 : DataFrame 및 고차원 객체에서 열을 삽입 및 삭제 가능
- 자동 및 명시적 데이터 정렬 : 객체를 라벨 집합에 명시적으로 정렬하거나, 사용자가 라벨을 무시하고 Series, DataFrame 등의 계산에서 자동으로 데이터 조정 가능
- 데이터 세트에서 집계 및 변환을 위한 분할(split), 적용(apply), 결합(combine) 작업을 수행할 수 있는 강력하고 유연한 group-by 함수 제공
- 누락된 데이터 또는 다른 Python 및 Numpy 데이터 구조에서 서로 다른 인덱싱 데이터를 DataFrame 개체로 쉽게 변환
- 대용량 데이터 세트의 지능형 라벨 기반 ㅡㄹ라이싱, 고급 인덱싱 및 부분 ㅈㅂ합 구하기 가능
- 직관적인 데이터 세트 병합 및 결합
- 축의 계층적 라벨링(눈금당 여러 개의 라벨을 가질 수 있음)
- 시계열 특정 기능 : 날짜 범위 생성 및 주파수 변환, 무빙 윈도우 통계, 날짜 이동 및 지연

In [25]:
import numpy as np
import pandas as pd
pd.__version__

'1.3.4'

# Series 객체

In [26]:
s = pd.Series([0, 0.25,0.5,0.75,1.0])
print(s)
# 인덱스와 함께 데이터를 저장

0    0.00
1    0.25
2    0.50
3    0.75
4    1.00
dtype: float64

In [27]:
print(s.values)

[0.   0.25 0.5  0.75 1.  ]

In [28]:
print(s.index)

RangeIndex(start=0, stop=5, step=1)

In [29]:
s[1]

0.25

In [30]:
s[2]

0.5

In [31]:
s = pd.Series([0, 0.25,0.5,0.75,1.0],
              index=['a','b','c','d','e'])
print(s)

a    0.00
b    0.25
c    0.50
d    0.75
e    1.00
dtype: float64

In [32]:
s['c']

0.5

In [33]:
s[['c','d','e']]

c    0.50
d    0.75
e    1.00
dtype: float64

In [34]:
 'b' in s

True

In [35]:
s = pd.Series([0, 0.25,0.5,0.75,1.0],
              index=[2,4,6,8,10])
print(s)

2     0.00
4     0.25
6     0.50
8     0.75
10    1.00
dtype: float64

In [36]:
s[:2]

2    0.00
4    0.25
dtype: float64

In [37]:
s.unique()  # unique한 값만 출력을 해줌

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [38]:
s.value_counts()

0.00    1
0.25    1
0.50    1
0.75    1
1.00    1
dtype: int64

In [39]:
s.isin([0.25,0.75])  # boolean 형태

2     False
4      True
6     False
8      True
10    False
dtype: bool

In [40]:
pop_tuple = {'서울 특별시': 9720846,
             '부산 광역시': 3404423,
             '인천 광역시': 2947217,
             '대구 광역시': 1471040,
             '광주 광역시': 1455048}
population = pd.Series(pop_tuple)
print(population)

서울 특별시    9720846
부산 광역시    3404423
인천 광역시    2947217
대구 광역시    1471040
광주 광역시    1455048
dtype: int64

In [41]:
population['서울 특별시']

9720846

In [42]:
population['서울 특별시':'인천 광역시']

서울 특별시    9720846
부산 광역시    3404423
인천 광역시    2947217
dtype: int64

# DataFrame 객체

In [43]:
pd.DataFrame([{'a':2, 'b':4, 'd':3},{'a':4, 'b':5, 'c':7}])

   a  b    d    c
0  2  4  3.0  NaN
1  4  5  NaN  7.0

In [44]:
pd.DataFrame(np.random.rand(5,5),
             columns = ['a','b','c','d','e'],
             index = [1,2,3,4,5])

          a         b         c         d         e
1  0.453461  0.834005  0.899747  0.004776  0.476271
2  0.222250  0.937745  0.513074  0.015572  0.223436
3  0.834900  0.912613  0.652989  0.223232  0.394458
4  0.544708  0.227253  0.782169  0.412564  0.771802
5  0.424923  0.548169  0.070306  0.142242  0.004699

In [48]:
male_tuple = {'서울 특별시': 4732275,
             '부산 광역시': 1667854,
             '인천 광역시': 1563513,
             '대구 광역시': 5451221,
             '광주 광역시': 7775455}
male = pd.Series(male_tuple)
print(male)

서울 특별시    4732275
부산 광역시    1667854
인천 광역시    1563513
대구 광역시    5451221
광주 광역시    7775455
dtype: int64

In [49]:
female_tuple = {'서울 특별시': 4895512,
             '부산 광역시': 1751512,
             '인천 광역시': 1666555,
             '대구 광역시': 7365566,
             '광주 광역시': 7775484}
female = pd.Series(male_tuple)
print(female)

서울 특별시    4732275
부산 광역시    1667854
인천 광역시    1563513
대구 광역시    5451221
광주 광역시    7775455
dtype: int64

In [50]:
korea_df = pd.DataFrame({'인구 수': population,
                         '남자 인구수':male,
                         '여자 인구수': female})
print(korea_df)

           인구 수   남자 인구수   여자 인구수
서울 특별시  9720846  4732275  4732275
부산 광역시  3404423  1667854  1667854
인천 광역시  2947217  1563513  1563513
대구 광역시  1471040  5451221  5451221
광주 광역시  1455048  7775455  7775455

In [52]:
korea_df.index

Index(['서울 특별시', '부산 광역시', '인천 광역시', '대구 광역시', '광주 광역시'], dtype='object')

In [53]:
korea_df.columns

Index(['인구 수', '남자 인구수', '여자 인구수'], dtype='object')

In [54]:
korea_df['서울 특별시':'인천 광역시']

           인구 수   남자 인구수   여자 인구수
서울 특별시  9720846  4732275  4732275
부산 광역시  3404423  1667854  1667854
인천 광역시  2947217  1563513  1563513